listening-port=3478
alt-listening-port=13478
tls-listening-port=5349
alt-tls-listening-port=15349
listening-ip={{LOCAL_IP}}
relay-ip={{LOCAL_IP}}
external-ip={{PUBLIC_IP}}/{{LOCAL_IP}}
realm=touliao.cc
server-name=touliao.cc
use-auth-secret
static-auth-secret={{SECRET}}
cert=/etc/coturn/fullchain.pem
pkey=/etc/coturn/privkey.pem
min-port=41000
max-port=41999
user-quota=16
total-quota=256
max-bps=1048576
bps-capacity=52428800
fingerprint
stale-nonce=600
no-cli
no-rfc5780
no-tcp-relay
no-tlsv1
no-tlsv1_1
no-multicast-peers
denied-peer-ip=0.0.0.0-0.255.255.255
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=100.64.0.0-100.127.255.255
denied-peer-ip=127.0.0.0-127.255.255.255
denied-peer-ip=169.254.0.0-169.254.255.255
denied-peer-ip=172.16.0.0-172.31.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=198.18.0.0-198.19.255.255
denied-peer-ip=240.0.0.0-255.255.255.255
denied-peer-ip=::1
denied-peer-ip=fc00::-fdff:ffff:ffff:ffff:ffff:ffff:ffff:ffff
denied-peer-ip=fe80::-febf:ffff:ffff:ffff:ffff:ffff:ffff:ffff
log-file=stdout
simple-log
pidfile=/tmp/turnserver.pid
userdb=/tmp/turndb
